
.header__nav ul{
	display: flex;
	flex-direction: row;
	list-style: none;
}

.nav__link a{
	text-decoration: none;
	color: var(--blanc);
	margin: 0 2rem;
	font-size: 3rem;
	font-weight: bold;
}

.nav__link a:hover{
	color: var(--vert);
	text-decoration: underline;
	font-weight: bold;
}